@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../../node_modules/bulma/css/bulma.min.css";

@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
}

.no {
    position: absolute;
    z-index: 1;
    margin-top: 3.5rem;
    margin-left: -10.5rem;
}

.left-spaced {
    margin-left: 8px;
}

.space-upwards {
    margin-top: 4px;
}

.more-space-upwards {
    margin-top: 16px;
}

.navbar-dropdown {
    color: black;
}

.navbar-item:focus {
    background-color:black;
}

#searchInput {
    margin-top: -0.4375em
}

.tag.is-primary {
    color: #59C4F7
}

hr {
    border-color: #000;
}