@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../node_modules/bulma/css/bulma.min.css";

@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
}

.left-spaced {
    margin-left: 8px;
}

.navbar-dropdown {
    color: black;
}

.navbar-item:focus {
    background-color:black;
}

#searchInput {
    margin-top: -0.4375em
}

.tag.is-primary {
    color: #59C4F7
}

hr {
    border-color: #000;
}